services:
  - type: cron
    name: scheduled-posts
    env: node
    schedule: "0 8,11,16,19 * * *"
    buildCommand: npm install
    startCommand: npx tsx ./src/cron-runners/render-cron.ts
    envVars:
      - key: CRON_SUPABASE_DB_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: TELEGRAM_BOT_TOKEN
        sync: false
